{% extends 'medilab.html'%}

{%block content%}
	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		
		<section class="breadcrumbs">
			<div class="container">
		
				<div class="d-flex justify-content-between align-items-center">
					<h2>sign up Page</h2>
					<ol>
						<li><a href="{% url 'home'%}">Home</a></li>
						<li>sign up Page</li>
					</ol>
				</div>
		
			</div>
		</section>
			
			<!-- Article main content -->
			<!-- <article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registration</h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Register a new account</h3>
							<p class="text-center text-muted">Lorem ipsum dolor sit amet, <a href="signin.html">Login</a> adipisicing elit. Quo nulla quibusdam cum doloremque incidunt nemo sunt a tenetur omnis odio. </p>
							<hr>

							<form method="post" action="">
								{% csrf_token %}
								{% for field in form %}
								<div class="top-margin text-center">
									<label>{{field.label}}</label>
									{{field}}
								</div>
								{% endfor %}
									
								

								<hr>

								<div class="row">
									<div class="col-lg-8">
										<label class="checkbox">
											<input type="checkbox"> 
											I've read the <a href="page_terms.html">Terms and Conditions</a>
										</label>                        
									</div>
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- /Article -->

		<!-- </div>
	</div> -->	<!-- /container -->
	 -->





<section class="vh-100">
	<div class="container-fluid h-custom">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-md-9 col-lg-6 col-xl-5">
				<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
					class="img-fluid" alt="Sample image">
			</div>
			<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
			<form class="text-center text-muted" action="" method="post">
				{%csrf_token%}
				
				
					
					
				
				
				<div class="form__group form__group">
					<table>{{form.as_table}}</table>
					
				</div>
				
				


					

					

					<div class="d-flex justify-content-between align-items-center">

						<a href="#!" class="text-body">Forgot password?</a>
					</div>

					<div class="text-center text-lg-start mt-4 pt-2">
						<button type="submit" class="btn btn-primary btn-lg"
							style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
						
					</div>

				</form>
			</div>
		</div>
	</div>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="danger" {% endif %}>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}


	{% endblock %}

